@import "tailwindcss";

@theme {
  --animate-drawer-content-out: drawer-content-out 550ms cubic-bezier(0.65, 0, 0.35, 1);
  --animate-drawer-content-in: drawer-content-in 450ms cubic-bezier(0.65, 0, 0.35, 1);
  --animate-drawer-overlay-out: drawer-overlay-out 550ms ease-in;
  --animate-drawer-overlay-in: drawer-overlay-in 450ms ease-out;

  --color-background: oklch(0.1665 0.0124 254.17);
  --color-surface: oklch(0.2073 0.0202 258.34); /* cards */
  --color-surface-alt: oklch(0.241 0.0242 256.44); /* hover panels */
  --color-border: oklch(0.3061 0.035 257.11);

  --color-text: oklch(0.9425 0.0111 243.66);
  --color-text-muted: oklch(0.7502 0.0333 251.2);
  --color-primary: oklch(0.599 0.2299 286.2);
  --color-primary-light: oklch(0.7732 0.127 286.2);

  --color-success: oklch(0.7459 0.1812 152.33);
  --color-danger: oklch(0.6785 0.2131 14.72);
  --color-danger-light: oklch(0.8265 0.111 14.72);
  --color-warning: oklch(0.7819 0.1585 72.33);
  --color-info: oklch(0.7585 0.1374 231.62);

  --shadow-primary-one: 0 0 10px 3px var(--color-primary);
  --shadow-primary-two: 0 0 7.5px 2px var(--color-primary);
  --shadow-primary-three: 0 0 5px 1px var(--color-primary);

  --shadow-danger-one: 0 0 10px 3px var(--color-danger);
  --shadow-danger-two: 0 0 7.5px 2px var(--color-danger);
  --shadow-danger-three: 0 0 5px 1px var(--color-danger);
}

@theme inline {
  --font-display: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);
  --font-sans: var(--font-inter);
}

body {
  @apply bg-background text-text;
}

.page-margins {
  @apply relative mx-auto w-full overflow-hidden px-5 md:px-10 lg:px-20;
}
